@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.container-fluid, header {
  font-family: 'Quicksand';
}

table.table thead {
  font-size: large;
}
table.table tbody {
  font-size: small;
}

a {
  cursor: pointer;
}

.modal a {
  color: rgb(82, 82, 82);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.form-control {
  background-color: rgb(241, 241, 241);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.input-group-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}